<div class="task-container">
    <div class="view-container">
        <form action="/user/change-view/?userId=<%= userId%>&view=daily" method="post">
            <button type="submit" class="view-btn-<%= view === 'daily' ? 'active' : '' %>">Daily</button>
        </form>

        <form action="/user/change-view/?userId=<%= userId%>&view=weekly" method="post">
            <button type="submit" class="view-btn-<%= view === 'weekly' ? 'active' : '' %>">Weekly</button>
        </form>
    </div>

    <% var week = new Date().toLocaleDateString()%>
    <% var d= new Date(); %>
    <% var lastDayOfWeek = d.setDate(d.getDate()-7) %>
    <% var weekFirstDay = new Date(lastDayOfWeek).toLocaleDateString(); %>
    

    <% var week_date =  weekFirstDay + " " +'To' + " " +  week %>
    <% if( view === 'weekly' ) { %>
        <p class="header">Your Tasks: <%= week_date %></p>
    <% } else { %>
        <p class="header">Your Tasks: <%= '' %></p>
    <% } %>

    
</div>

<ul class=task-list-container>
    <% for(let i=tasks.length-1; i>=0; i--) { %> 
        
        <li class="task-list-items">
            <div class="task-desc">

                <div class="desc">
                    <%= tasks[i].desc %>
                </div>
                <form action="/tasks/delete/?userId=<%= userId%>&taskId=<%=tasks[i]._id %>" method="post">
                    
                    <button class="delete-btn" type="submit">Delete</button>
                </form>
            </div>

            <% if( view === 'weekly' ) { %>
                <div class="weekly-view-container">
                    <% for(let j=0; j < tasks[i].dates.length; j++) { %> 
                        <div class="weekly-view">
                            <div class="task-date">
                                <p>
                                   <%= tasks[i].dates[j].Date.toLocaleDateString('en-IN', {weekday: 'short'}) %>
                                </p>
                            </div>
                            <form action="/tasks/status/?userId=<%= userId%>&taskId=<%= tasks[i]._id %>&dateId=<%= tasks[i].dates[j]._id %>" method="post">
                                <button class="weekly-status">
                                    <% if(tasks[i].dates[j].Status === 'None') { %> 
                                        <i class="fa-solid fa-circle" style="color: white; border: none;"></i>
                                    <% } else if(tasks[i].dates[j].Status === 'Not Done') { %> 
                                        <i class="fa-solid fa-circle-xmark" style="color: red;"></i>
                                    <% } else { %>
                                        <i class="fa-solid fa-circle-check" style="color: #4aff00;"></i>
                                    <% } %>

                                </button>
                            </form>
                        </div>
                    <% } %>
                </div>

            <% } else { %>
                <div class="daily-view-container">
                    <div class="text-center">
                        Today, <%= tasks[i].dates[6].Date.toDateString('en-IN') %>
                    </div>
                     
                    <form action="/tasks/status/?userId=<%= userId%>&taskId=<%= tasks[i]._id %>&dateId=<%=tasks[i].dates[6]._id %>" method="post" class="daily-status">
                        <button type="submit" style="border: none; background: transparent;">
                            <% if(tasks[i].dates[6].Status === 'None') { %> 
                                <i class="fa-solid fa-circle" style="font-size: 42px; color:  white;"></i>
                            <% } else if(tasks[i].dates[6].Status === 'Not Done') { %>
                                <i class="fa-solid fa-circle-xmark" style="font-size: 42px;color: red;"></i>
                            <% } else { %>
                                <i class="fa-solid fa-circle-check" style="font-size: 42px;color: #4aff00;"></i>
                            <% } %>
                        </button>
                    </form>
                </div>
            <% } %> 
        </li>
        
    <% } %>
</ul>